<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="TemLoPAC.StatemachineObserver"
            name="StatemachineObserverCommand">
      </command>
      <command
            id="TemLoPAC.InteractionObserver"
            name="InteractionObserverCommand">
      </command>
      <command
            id="TemLoPAC.StatemachineMarte"
            name="StatemachineMarteCommand">
      </command>
      <command
            id="TemLoPAC.InteractionMarte"
            name="InteractionMarteCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="observer.StatemachineInterface"
            commandId="TemLoPAC.StatemachineObserver">
      </handler>
      <handler
            class="observer.InteractionInterface"
            commandId="TemLoPAC.InteractionObserver">
      </handler>
      <handler
            class="marte.StatemachineInterface"
            commandId="TemLoPAC.StatemachineMarte">
      </handler>
      <handler
            class="marte.InteractionInterface"
            commandId="TemLoPAC.InteractionMarte">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="TemLoPAC">
            <command
                  commandId="TemLoPAC.StatemachineMarte"
                  label="Transform to Semantic MARTE Model"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.uml2.uml.StateMachine">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="TemLoPAC.StatemachineObserver"
                  label="Generate CCSL/Verilog Observer Code"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.uml2.uml.StateMachine">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="TemLoPAC.InteractionMarte"
                  label="Transform to Semantic MARTE Model"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.uml2.uml.Interaction">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="TemLoPAC.InteractionObserver"
                  label="Generate CCSL/Verilog Observer Code"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.uml2.uml.Interaction">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
